<h4>Registrate</h4>
  <form method='POST' action='/user/register'>
    <input type='text' name='name'/>
    <input type='text' name='password'/>
    <input type='date' name='birthday'/>
    <input type='number' name='avatar'/>
    <input type='submit'/>
  </form>
<h4>Inicia Sesión</h4>
  <form method='POST' action='/main'>
    <input type='text' name='name'/>
    <input type='text' name='password'/>
    <input type='submit'/>
  </form>
