
  <div class="col s2">
    <button id="notifButton" class="waves-effect waves-light btn" data-target="modalNotif">Notifications</button>
  </div>
    <ul>
      <% for(perfil of perfils){%>
          <li>
             <button data-target="modalInicio" class="btn"><%= perfil.name %></button>
          </li>
      <% } %>
    </ul>


<div id="modalInicio" class="modal">
  <div class="modal-content">
    <div class="row">
      <h4>Iniciar juego</h4>
    </div>
    <div class="row">
      <form class="col s12" method="post" action="/game">
        <div class="input-field">
          <select name="catego">
            <% for(categ of categs){%>
              <option value="<%= categ.categoryName %>"><%= categ.categoryName %></option>
            <% } %>

          </select>
        </div>
        <div class="input-field">
          <input class="modal-action btn-flat" type="submit" id="tiger"/>
        </div>
      <form>
    </div>
  </div>
  <div class="modal-footer">

  </div>
</div>

<div id="modalNotif" class="modal bottom-sheet">
    <div id="content-notif" class="modal-content">
      <h4>Notifications</h4>
    </div>
  </div>
<script>
$(document).ready(function(){
   // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
   $('.modal').modal();
   $('select').material_select();
 });
$("#notifButton").click(function(){
  $.ajax({
    method:"post",
    url:"/match/findMine",
    success:function(data){
      $("#content-notif").html(data);
      $("#modalNotif").modal('open');
    }
  });
});
</script>
