
<script src="/js/dependencies/jquery-3.2.1.min.js"></script>
  <div class="mdc-card">
    <div class="mdc-card__horizontal-block">
      <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large">Beibi</h1>
        <h2 class="mdc-card__subtitle">Qpi nenes</h2>
      </section>
      <img class="mdc-card__media-item mdc-card__media-item--1x" src="image.jpg"></img>
   datos del bebe
      <section class="mdc-card__actions">
        <button class="mdc-button mdc-button--compact mdc-card__action">Juega solito :3</button>
        <button class="mdc-button mdc-button--compact mdc-card__action">Vete alv<3</button>
      </section>
    </div>
  </div>
<button id="default-dialog-activation" class="mdc-button mdc-button--primary mdc-button--raised">Show Dialog</button>
<!-- dialog -->

<div class="demo-body">
      <aside id="mdc-dialog-default"
          class="mdc-dialog"
          role="alertdialog"
          aria-hidden="true"
          aria-labelledby="mdc-dialog-default-label"
          aria-describedby="mdc-dialog-default-description">
        <div class="mdc-dialog__surface">
          <header class="mdc-dialog__header">
            <h2 id="mdc-dialog-default-label" class="mdc-dialog__header__title">
              Use Google's location service?
            </h2>
          </header>
          <section id="mdc-dialog-default-description" class="mdc-dialog__body">
            Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
          </section>
          <footer class="mdc-dialog__footer">
            <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--cancel">Decline</button>
            <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Accept</button>
          </footer>
        </div>
        <div class="mdc-dialog__backdrop"></div>
      </aside>
  <% for(perfil of perfils){%>
    <ul>
      <li onclick="cambia()" id="<%= perfil.nombre %>">
         <%= perfil.nombre %>
      </li>
    </ul>
  <% } %>
    <script>
    var dialogScrollable = new mdc.dialog.MDCDialog(document.querySelector('#mdc-dialog-with-list'));

      dialogScrollable.listen('MDCDialog:accept', function() {
        console.log('accepted');
      })

      dialogScrollable.listen('MDCDialog:cancel', function() {
        console.log('canceled');
      })


      	document.querySelector('#dialog-with-list-activation').addEventListener('click', function (evt) {
      	  dialogScrollable.lastFocusedTarget = evt.target;
          dialogScrollable.show();
      	});
    function cambia(){
      console.log("hoad");
      console.log($(this).id);
      $.get("Categ", { retado:$(this).id});
    }
    </script>
